{{page-title "Editar veículo"}}
<section class="mt-4 card-container">
    <h3>Editar veículo</h3>
    <div class="fields">
        <VehicleEditForm @paramId={{this.vehicle_id}}/>
    </div>
</section>
{{outlet}}